{{#each ac in actionsList}}
		{{#if ac.private}}
			{{#if session.isAuthenticated}}
				<a {{action ac.action }} class="btn btn-xs {{unbound ac.class}} btn-round"> <i class="fa {{unbound ac.icon}}"></i>{{ac.name}}</a>			 
			{{/if}}
		{{else}}
			<a {{action ac.action }} class="btn btn-xs {{unbound ac.class}} btn-round"><i class="fa {{unbound ac.icon}}"></i>{{ac.name}}</a>
		{{/if}}
{{/each}}

{{#unless session.isAuthenticated}}
	{{#link-to-animated "login" animations="main:slideLeft" class="btn btn-xs btn-primary btn-round"}}
   		<i class="fa fa-fw fa-unlock-alt"></i>
   		Ingresar
	{{/link-to-animated}}

	{{#link-to-animated "signup" animations="main:slideLeft" class="btn btn-xs btn-primary btn-round"}}
		<i class="fa fa-fw fa-rocket"></i>
		Crear cuenta
	{{/link-to-animated}}	
{{/unless}}

