<div id="wrap">
   <header class="navbar-simple navbar-fixed-top" role="navigation">
      
      {{#link-to-animated "index" animations="main:slideLeft" class="navbar-simple-logo"}}
         <svg class="logo-goblab-svg" version="1.1" x="0px" y="0px" width="30.875px" height="48.819px" viewBox="0 0 38.875 48.819" enable-background="new 0 0 38.875 48.819" xml:space="preserve">
         <path fill="#fff" d="M36.176,22.326h-0.212H22.107c-1.386,0-2.207,0.937-2.207,3.247v2.218c0,2.311,0.821,3.043,2.207,3.043
            h4.518l-8.604,8.657l-0.005,0.121c-0.008-0.003-0.017,0.05-0.025,0.047c-4.693-1.849-7.042-6.775-7.042-14.841
            c0-10.464,3.996-15.683,11.989-15.683c3.465,0,6.468,0.561,9.009,1.67c0.877,0.371,1.386,0.558,1.524,0.558
            c0.832,0,1.79-0.83,2.876-2.493c1.085-1.664,1.629-3.002,1.629-4.019c0-1.339-1.629-2.483-4.886-3.43
            C29.834,0.474,26.519,0,23.147,0C7.715,0,0,8.224,0,24.671c0,8.548,1.859,14.843,5.579,18.885c1.344,1.461,2.953,2.657,4.825,3.59
            c1.427,0.711,3.007,1.269,4.74,1.673l8.662-8.087l6.492-6.127v4.013c0,1.386,0.407,1.667,2.718,1.667h2.218
            c2.31,0,3.432-0.476,3.432-1.862l0.139-12.922v-0.03V24.88C38.804,23.032,38.023,22.326,36.176,22.326z"/>
         </svg>
      {{/link-to-animated }}

      <button class="btn-link menu-wrap-button responsive-menu" id="close-button" {{action 'showMenu' target=view}}>
         <i class="fa fa-bars"></i>
      </button>
      <button class="btn-link menu-close-button" id="close-button">
        <i class="fa fa-times"></i>
      </button>

      <div class="navbar-header">
         <div class="pull-right">
            {{outlet actionBar name="actionBar"}}
         </div>

         <div class="pull-left">
           {{#if session.isAuthenticated}}
            <div class="perfil">
               {{#link-to-animated "profile" session.currentUser.profile animations="main:slideLeft" class="nodecoration"}}
               <div class="hidden-xs mar-lv1 pull-right">
                  <span class="h4">
                     {{session.currentUser.username}}
                  </span>
               </div>
               <svg class="mar-lv2 mar-tb0 pull-left" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 46.361 46.361" enable-background="new 0 0 46.361 46.361"
                      xml:space="preserve">
                     <circle fill="#f0c23b" stroke-miterlimit="10" cx="23.18" cy="23.18" r="22.68"/>
                  </svg>
                {{/link-to-animated}}
            </div>
            {{/if}}
         </div>
      </div>
   </header>

   <div class="menu-wrap">
      <button class="btn-link pull-right menu-wrap-button" id="close-button" {{action 'showMenu' target=view}}>
         <i class="fa fa-bars"></i>
      </button>
       <button class="btn-link pull-right menu-search-button" id="close-button">
         <i class="fa fa-search"></i>
      </button>
       <button class="btn-link pull-right menu-favorite-button" id="close-button">
         <i class="fa fa-star"></i>
      </button>
      {{outlet menu name="menu"}}
   </div>
   {{animated-outlet name="main" class="content-wrap"}}

</div>