<section class="container ">
	<div class="page-header text-center">
    <h1><b>Editar perfil</b></h1>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		{{#form-for controller wrapper="basicFormWrapper"}}
			{{input age placeholder="Edad" label="Edad" hint="Enter your first name"}}
			
			{{input name placeholder="Nombre" label="Nombre"}}
			
			{{input last_name placeholder="Apellido" label="Apellido"}}
			
			{{input avatar placeholder="Avatar" label="Avatar"}}

			{{submit class="btn btn-success"}}
		{{/form-for}}
	</div>
</section>

