<section class="container ">
	<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
		<div class="page-header text-center">
	    	<h1><b>Editar perfil</b></h1>
		</div>
		{{#form-for controller wrapper="basicFormWrapper"}}
			<div class="row">
				<div class="col-xs-12">
					{{input age placeholder="Edad" label="Edad"}}
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					{{input name placeholder="Nombre" label="Nombre"}}
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					{{input last_name placeholder="Apellido" label="Apellido"}}
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					{{input avatar placeholder="Avatar" label="Avatar"}}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					{{submit class="btn btn-success pull-right"}}
				</div>
			</div>
		{{/form-for}}
	</div>
</section>

