<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 view-entries">
      <div class='entries-simple row'>
          <div class="row">
            <div class="col-xs-8">
               <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png" alt="" class="img-rounded mar-lv2 mar-l0 mar-tb0" width="36">
              {{#link-to "user_profile" model.author class="h3"}}
                {{model.author.username}}
              {{/link-to}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-11 entrie-simple-summary">
              <p>{{{model.message}}}</p>
            </div>
          </div>
        <hr>
        {{comments-widget modelBinding="model" submit="publishComment"}}
        {{#if session.isAuthenticated}}
          {{add-comment-widget model=this submit="publishComment"}}
        {{/if}}        
        <hr>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 ">
              {{#link-to-animated "entries" classNames="btn btn-primary" animations="main:slideLeft"}}
                <i class="fa fa-arrow-left"></i>
                Todas las publicaciones
              {{/link-to-animated}}

              {{#if session.isAuthenticated}}
                {{#if canEdit}}
                    {{#link-to-animated "edit_entry" model classNames="btn btn-success" animations="main:slideLeft"}}
                      <i class="fa fa-pencil"></i> Editar
                    {{/link-to-animated}}
                    <a href="#" class="btn btn-danger" {{action "destroy"}}>
                      <i class="fa fa-trash-o"></i> Eliminar
                    </a>
                {{/if}}
              {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

